/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* My custom light mode colors */
  --collection-background-light: rgb(245, 245, 246);
  --collection-background: rgb(245, 245, 246);

  --color-text-light: #000000;
  --color-text: #000000;
  --text-dark: #000000;

  --color-background-light: #ffffff;
  --color-background: #ffffff;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --collection-background-dark: #2b2c32;
    --collection-background: #2b2c32;

    --color-text-dark: #ffffff;
    --color-text: #ffffff;

    --color-background-dark: #16171d;
    --color-background: #16171d;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text) !important;
  background: var(--color-background) !important;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text) !important;
}
